@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

ol,
ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

input,
button {
  background: none;
  border: none;
  outline: none;
  cursor: text;
}

.fade-enter .page {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active .page {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
