.title-box {
  margin: 30px auto;
}

.title-box h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
  width: 400px;
  padding: 50px 0;
  box-shadow: 0 0 10px #001427;
}

.input_fields {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 20px 0;
}

label {
  text-align: center;
  margin: 5px 0;
}

#email_field,
#password_field {
  border: 1px solid #001427;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  cursor: text;
}

.login {
  margin: 20px auto;
  box-shadow: inset 0 0 0 2px #001427;
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #1ac8ed;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.login:hover {
  background-color: #001427;
}
