.main-wrapper {
  display: flex;
  margin: 100px 20px;
  position: relative;
  justify-content: center;
}

.main-title {
  margin-left: 20px;
  padding: 5px;
  font-size: 3rem;
  font-weight: 700;
}

.banner {
  background: linear-gradient(
    108deg,
    rgba(100, 208, 231, 1) 0%,
    rgba(202, 240, 248, 1) 74%,
    rgba(210, 234, 238, 1) 89%
  );
  box-shadow: 0 0 10px #3333;
}

.subtitle {
  margin-left: 60px;
  font-size: 1.7rem;
  font-weight: 500;
}

.titles {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
