.nav-wrapper {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.nav-wrapper.css-1hh93v9.scrolled {
  background: rgb(173, 232, 244);
  background: linear-gradient(
    90deg,
    rgba(173, 232, 244, 1) 16%,
    rgba(0, 166, 200, 1) 100%
  );
  transition: background-color 1s ease-in;
  z-index: 1050;
}

.nav-wrapper.css-1hh93v9 {
  position: sticky;
  top: 0;
  background: transparent;
}

.css-k008qs {
  margin-right: 20px;
}

.title {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0s 0.2s, background-color 0.4s 0s;
  z-index: 1200;
}

.form-wrapper.show {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform 0s, background-color 0.6s 0.1s;
}

button.scrolled {
  background-color: #edae49;
  transition: background-color 1s ease-in;
}
